<section id="home">
  <div class="app__header app__wrapper app__bg" id="home">
    <div class="app__wrapper_img">
      <img src="../images/girl1.avif" alt=" Beauty Salon" class="hero-image" />
    </div>

    <div class="app__wrapper_info">
      <h1 class="app__header-h1">Your Hair is your Crown</h1>
      <p class="home_p">Your one-stop destination for health and wellness.</p>
      <a href="/contact" class="custom__button">Book Now</a>
    </div>
  </div>
  <div class="app__bg1 app__wrapper">
    <div class="app__wrapper_info">
      <h1 class="app__2header-h1">
        Great skin doesn't happen bychance.It happens by appointments
      </h1>
      <a href="/contact" class="custom__button">Take an Appointment</a>
    </div>
    <div class="app__wrapper_img">
      <img src="../images/faciaal.jpg" alt=" Beauty Salon" class="hero-image" />
    </div>
  </div>



  <div class="app__wrapper1 app__bg2">
    <div class="row">
      <div class="column" >
        <h2>MANICURES FOR YOU</h2>
        <p>A good manicure increases circulation to the hands. This in turn means better skin tone and a more youthful appearance. Maintains Skin Elasticity And Youthful Appearance: A manicure that is well done will make your nails stronger, help them grow longer and will improve the shape and elasticity of your nails.</p>

        <div class="app__wrapper_img2">
          <img class="hero-image1" src="/images/manicure.jpeg"/>
        </div>
      </div>
      <div class="column" >
        <h2>PEDICURE FOR YOU</h2>
        <p>Your feet will be soaked in warm, scented water to soften your skin and help you to relax. Then, your feet will be exfoliated to remove dead skin cells and help improve the skin surface on your feet. At this point, your cuticles will be pushed back, and your practitioner will cut and file your toenails.</p>
        <div class="app__wrapper_img2">
          <img class="hero-image1" src="/images/pedi.jpg"/>
        </div>
      </div>
    </div>
  </div>
</section>
