<header>
    <h1 style="color: black; font-weight:80px;">Our Services</h1>
</header>
<section class="service-list">
    <div class="service-item">
        <img src="../images/hairct.jpg" alt="Service 1">
        <h2>Hair Styling</h2>
        <p>Our passion is simple, we live to help every guest look and feel beautiful. We know our guests expect extraordinary results. Our salon professionals continously explore the latest trends and techniques to transform your look with styles inspired by fashion runways from around the world.</p>
    </div>
    <div class="service-item">
        <img src="../images/facial.jpg" alt="Service 2">
        <h2>Facials</h2>
        <p style="text-transform: lowercase;">FIRST, WE WILL START WITH A QUESTION MANY PEOPLE WISH TO KNOW: ARE FACIAL TREATMENTS ACTUALLY GOOD FOR YOUR SKIN? EVEN IF YOU DON’T SUFFER FROM HYPERPIGMENTATION OR ACNE, YOUR SKIN CAN BE PAMPERED THROUGH A FACIAL TREATMENT THAT KEEPS IT HEALTHY, GLOWING AND FREE FROM FUTURE ISSUES. IN ADDITION, RECEIVING A FACIAL TREATMENT FROM A PROFESSIONAL WILL HELP YOU TO GAIN A DEEPER UNDERSTANDING OF YOUR SKIN.
            PLUS, WHO CAN DENY THE DE-STRESSING AND RELAXING SIDE EFFECTS OF GETTING A FACIAL TREATMENT?</p>
    </div>
    <div class="service-item">
        <img src="../images/mani.jpg" alt="Service 3">
        <h2>Manicures</h2>
        <p>The traditional French manicure, with its medium nail length, pale pink base and blinding white tips, is clearly a celebrity favourite—everyone from Ananya Panday and Sonam Kapoor Ahuja to Kim Kardashian West and Beyoncé is a fan. But look close, and you’ll see that the 2019 version of the manicure features varying colours (like Hailey Bieber’s green tips), nail lengths (Kylie Jenner’s extra-long talons with extended white space) and patterns (Bella Hadid’s chevron on a tapered square nail). Scroll ahead for our favourite iterations on the famous French manicure as seen on the celebrities.</p>
    </div>
    <div class="service-item">
        <img src="../images/pedic.jpg" alt="Service 4">
        <h2>Pedicures</h2>
        <p>Apedicure is a therapeutic treatment for your feet that removes dead skin, softens hard skin and shapes and treats your toenails. Think of it as a manicure for the feet! A good foot treatment is heaven, but pedicure techniques can vary from type of polish to massage so it’s important to find the right pedicure fo</p>
    </div>
</section>